.header-main {
     padding-bottom: 100px;
     background: $color-3;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    flex: 0 1 50%;
    padding: 200px 20px 72px 0;
  }

  &__decor {
    flex: 0 1 50%;
    margin-right: -180px;
  }

  &__decor-image {
   max-width: 672px;
   position: relative;
   padding-bottom: 87%;

   &::after{
    content: '';
    background: url('../img/main/decor.svg') no-repeat;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: -40px;
    left: 53%;
  }

    & img{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}

.content-block {
  max-width: 469px;

  &__title {
    font-family: $ff-2;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.2;
    color: $color-2;

    & span{
      color: $color-5;
    }

    & + *{
      margin-top: 16px;
    }
  }

  &__text{
    max-width: 298px;

    & + *{
      margin-top: 33px;
    }
  }

  &__app {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__btn {
    width: 192px;
  }

  &__btn-link {
      min-height: 60px;
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 10px;
       background: $color-5;
       border-radius: 40px;
       font-weight: 600;
       font-size: 16px;
       line-height: 1.5;
       text-align: center;
       color: $color-3;
       transition: all .5s;

       &:hover{
        background: #b5b3b3;
        border: 1px solid $color-3;
        color: $color-3;
        cursor: pointer;
       }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 28px;
  }

  &__icon {
  }
}
// ==========================
@media (max-width: 850px){
  .header-main{
    padding-bottom: 50px;

    &__decor{
      display: none;
    }

    &__content{
      flex: 1 1 100%;
      padding-bottom: 10px;
    }
  }
  .content-block{
    max-width: 100%;

    &__text{
      width: 100%;
    }
  }
}
@media (max-width: 500px){
  .content-block__title{
    font-size: 34px;
  }
  .content-block__app{
    gap: 20px;
  }
  .content-block__icons{
    gap: 15px;
  }
}
