$color-1:#666;
$color-2:#121212;
$color-3:#fff;
$color-4:#000;
$color-5:#FF6428;
$color-6:#E5E5E5;
$color-7:#EEEEEE;
$color-8:tomato;
$color-9:#868686;
$color-10:#262626;
$ff: Poppins;
$ff-2: CalSans;
